<div class="container">
	<div class="row">
		<div class="col-12">
			<h2>Connection initiated</h2>
			<p>This device should now join the requested wifi network.</p>
		</div>
		<%- include('../home') %>
	</div>
</div>
