<div class="container">
	<div class="row">
		<div class="col-12">
			<h2>Connection initiated</h2>
			<p>This device should now join the requested wifi network.</p>
		</div>
		<div class="col-12">
			<%- include('../home') %>
			<a class="btn btn-primary" href="/wifi/">Wifi</a>
			<a class="btn btn-secondary" href="/settings">Settings</a>
		</div>
	</div>
</div>
