<div class="container">
	<div class="row">
		<div class="col-12">
			
			<div class="alert alert-danger" role="alert">
				Do not consider this to be secure in hotspot mode. HTTP traffic is not encrypted.
			</div>

			<h2>Configured connections</h2>

			<ul class="list-group mb-4">
				<% for (const connection of connections) { %>
					<% if (connection.name === 'lo') continue; %>
					<li class="list-group-item">
						<%= connection.name %>
						
						<% if (connection.type !== '') { %>
							&nbsp;<span class="badge rounded-pill bg-warning text-dark"><%= connection.type.split("-").pop() %></span>
							<% if (connection.name === hotspotName) { %>
								&nbsp;<span class="badge rounded-pill bg-danger text-dark">hotspot</span>
							<% } %>
						<% } %>

						<% if (connection.device !== '') { %>
							&nbsp;<span class="badge rounded-pill bg-info text-dark">active</span>
						<% } %>
					</li>
				<% } %>
			</ul>

			<%- include("../home") %>
	
			<form method="get" action="ssids" onSubmit="showWaiting(this)">

				<a
				class="btn btn-secondary"
				href="/settings"
				id="back"
				onClick="showWaiting()"
				>Back</a>
				
				<button id="cta" class="btn btn-primary">
					Scan
				</button>

				<div id="busy" class="ms-3 spinner-border spinner-border-sm" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</form>
			
		</div>
	</div>

	<script>
		function showWaiting() {
			document.getElementById("busy").style.visibility = "visible";
			document.getElementById("cta").setAttribute("disabled", "true");
		}
	</script>
</div>
