<!doctype html>
<html class="h-100" data-bs-theme="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/static/css/playback.css" rel="stylesheet" />
		<title><%= config.name %></title>
	</head>
	<body class="h-100">
		<div class="header" id="header">Playback.OS</div>
		<%- body %>
		<div class="footer" id="footer">
			<span id="currentFile"></span>
			-
			<span id="playStatus"></span>
			-
			<span id="volumeStatus"></span>
		</div>

		<script>
		let lastStatus = {};
		let lastVolume = 0;

		window.onload = () => {
			vlcStatus();
		setInterval(() => {
			vlcStatus();
		}, 1000)
		};

		async function vlcCommand(command = "") {
			const url = command === "" ? "/vlc" : `/vlc?command=${command}`;
			return (await fetch(url)).json();
		}

		async function vlcStatus() {
			const status = (await vlcCommand()).root;

			if (status.volume != lastStatus.volume) {
				document.getElementById('volumeStatus').innerHTML = status.volume;
				if (status.volume === "0") {
					document.getElementById('volume_off').classList.remove('d-none');
					document.getElementById('volume_mute').classList.add('d-none');
				} else {
					document.getElementById('volume_mute').classList.remove('d-none');
					document.getElementById('volume_off').classList.add('d-none');
				}
			}

			if (status.state !== lastStatus.state) {
				if (status.state === 'playing') {
					document.getElementById('pause').classList.remove('d-none');
					document.getElementById('play').classList.add('d-none');
					document.getElementById('playStatus').innerHTML = "Playing";
				} else {
					document.getElementById('play').classList.remove('d-none');
					document.getElementById('pause').classList.add('d-none');
					document.getElementById('playStatus').innerHTML = "Paused";
				}
			}
			 if(lastStatus.information) {
				document.getElementById('currentFile').innerHTML = status.information.category[0].info[2]._;
			 }

			lastStatus = status;
		}

		
		function vlcRemoteCommand(command) {
			vlcCommand(command);
			vlcStatus();
		}

		function muteToggle() {
			if (lastStatus.volume === "0") {
				vlcCommand(`volume&val=${lastVolume}`);
			} else {
				lastVolume = lastStatus.volume;
				vlcCommand('volume&val=0');
			}
			vlcStatus()
		}
		</script>

	</body>
</html>
