<!doctype html>
<html class="h-100" data-bs-theme="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/static/css/playback.css" rel="stylesheet" />
		<title><%= config.name %></title>
	</head>
	<body class="h-100">
		<div class="header">Playback.OS</div>
		<%- body %>
		<div class="footer">Ready</div>

		<script>
			// window.onload = () => {
			// 	setInterval(() => {
			// 		vlcStatus();
			// 	}, 5000)
			// };

			async function vlcStatus() {
				console.log(await vlcCommand());
			}

			async function vlcCommand(command = "") {
				const url = command === "" ? "/vlc" : `/vlc?command=${command}`;
				return await fetch(url)
			}
		</script>

	</body>
</html>
