<div class="container">
	<ul class="list-group">
		<li class="list-group-item file-icon" onclick="window.location = '/wifi/'">
			<%- include('icons/wifi') %> Wifi Settings
		</li>
	</ul>

	<div class="m-2 home-link">
		<a href="/"><%- include('icons/home') %> Home</a>
	</div>
</div>
