<div class="container">
	<ul class="list-group mb-2">
		<li class="list-group-item file-icon" onclick="window.location = '/wifi/'">
			<%- include('icons/wifi') %> Wifi Settings
		</li>
	</ul>

	<%- include("home") %>
</div>
