.header,
.footer {
	text-align: center;
	height: 5vh; /* Header and footer each take 10% of the screen height */
}

.header {
	padding: 1rem;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	height: 90vh; /* The grid takes the remaining 80% of the screen height */
}
.grid-item {
	padding: 20px;
	text-align: center;
}
